@charset "UTF-8";
/* CSS Document */

#navigation li {
	padding: 30px;
	display: inline;
	color: #000000;
}

#navigation ul{
	clear: both;
	margin: inherit;
	list-style-type: none;
	padding: 20px;
	font-family:Helvetica, sans-serif;
				
}

a:link {
	color: #000000;
	text-decoration:none;
}
a:hover{
	color: #E6F0F0;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
	margin:10x;
}
a:visited {
	color: #828382;
}
logo{
position:fixed;
left:0;
top:0;
}

logo h1{
font-family: Helvetica;
	color: #000000;
	font-size: 64px;
	font-weight: 300;
}

h1{
font-family: Helvetica;
font-weight:300;
}


html { 
background:url; 

-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
background-opacity: 100%

} 


#button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}
#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}


html {
	xfont-family:Helvetica, sans-serif;
}

<!-- Social Media -->

.social {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: .5px solid white;
  background-clip: content-box;
  padding: 3px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 40px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 10px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px);
}

.social .link.google-plus {
  background-color: white;
  color: black;
}

.social .link.twitter {
  background-color: white;
  color: black;
}

.social .link.facebook {
  background-color: white;
  color: black;
}


<!-- Slider Css -->

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
body, figure { 
  margin: 0; background:
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 5s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}


